services:
  api:
    build:
      context: .
      dockerfile: Dockerfile.api
    ports:
      - "5000:8000"
    env_file:
      - .env
    volumes:
      # Mount source code for live reloading and model persistence
      - ./src:/code/src
    restart: always

  app:
    build:
      context: .
      dockerfile: Dockerfile.app
    ports:
      - "8501:8501"
    environment:
      # The internal container name 'api' maps to port 8000 inside the network
      - API_URL=http://api:8000
    volumes:
      # Mount the app source code for live reloading during development
      - ./src/app:/app/src/app
    depends_on:
      - api
    restart: always